h1 {
    margin: 0;
    padding: 0;
}

.container {
    padding: 2em;
    width: auto;
    height: auto;
    /* position: relative; */
}

.hero-main {
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('https://anythingfrenkie.s3.ap-southeast-2.amazonaws.com/F8C168AD-333D-479C-A1A9-64D55A37C7D3-1711-000000E1CD517750.jpg'); */
    background-color: #f5f2f2;
    /* background-size: cover; */
    height: max-content;
    padding-bottom: 4em;
    position: relative;
    overflow: hidden;
}

.background-circle {
    background-color: rgb(141, 174, 240);
    height: 15rem;
    width: 15rem;
    position: absolute;
}

.large {
    top: 22%;
    right: 28%;
    border-radius: 35%;
    opacity: 0.3;
}

.small {
    background-color: rgb(248, 223, 82);
    height: 29%;
    opacity: 0.4;
    bottom: 0%;
}

.heading {
    color: black;
    font-size: 4.5em;
    font-weight: normal;
    text-align: left;
    margin-top: 5rem;
}

.sub-heading {
    color: grey;
    font-size: 2.7rem;
    font-weight: normal;
    text-align: left;
}

@media (max-width: 800px) {

    .small {
        height: 19%;
        width: 35%;
        opacity: 0.3;
        display: none;
    }

    .large {
        right: 11%;
        /* width: 15rem; */
    }
}