@import url(../../shared_style.css);

.project-page-main {
    animation: fadeInAnimation 0.3s ease;
    position: relative;
}

.project-page-positioned {
    background-color: rgb(253, 198, 207);
    /* background-color: rgb(250, 235, 238); */
    border-radius: 46px;
    right: 6%;
    top: 3%;
    z-index: -2;
    opacity: 0.2;
    transform: rotate(15deg);
    animation: rotation 0.9s ease;
}

@media (max-width: 800px) {
    .project-page-positioned {
        width: 6.5rem;
        height: 5rem;
        top: 0.5%;
        left: 9%;
    }
}