footer {
    position: relative;
    bottom: 0%;
    background-color: #171923;
    --icon-color: white;
}

.footer-container ul {
    list-style: none;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    grid-template-columns: repeat(auto-fit, minmax(80px, 80px));
    padding-inline: 0;
    gap: 13px;
}

.footer-container {
    padding: 1em 4em;
}

.icon-wrapper {
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    padding: 1em;
    max-width: 1.6em;
}

.icon-wrapper:hover {
    background-color: azure;
    opacity: 0.8;
    transition: 0.5s;
    --icon-color: black;
}

.footer-container i {
    font-size: 1.5em;
    color: var(--icon-color);
}

@media (max-width: 800px) {
    .footer-container ul {
        padding-left: 8%;
    }
}